body {
  background: black;
}

#tridiv {
  perspective: 1800px;
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  font-size: 100%;
}

@keyframes rotate {
  0% {
    transform: rotateY(0deg) rotateZ(0deg);
  }
  50% {
    transform: rotateY(180deg) rotateZ(4deg);
  }
  75% {
    transform: rotateY(300deg) rotateZ(-10deg) scale(1.4);
  }
  100% {
    transform: rotateY(360deg) rotateZ(0deg);
  }
}

.scene,
.shape,
.face,
.face-wrapper,
.cr {
  position: absolute;
  transform-style: preserve-3d;
}
.scene {
  width: 80em;
  height: 80em;
  top: 50%;
  left: 50%;
  margin: -40em 0 0 -40em;
}
.shape-holder {
  animation: rotate 3s infinite linear;
  transform-style: preserve-3d;
}
.shape {
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform-origin: 50%;
}
.face,
.face-wrapper {
  overflow: hidden;
  transform-origin: 0 0;
  backface-visibility: visible;
  /* hidden by default, prevent blinking and other weird rendering glitchs */
}
.face-wrapper .face {
  left: 100%;
  width: 100%;
  height: 100%;
}
.photon-shader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.face {
  filter: saturate(2);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.4);
}
.cr,
.cr .side {
  height: 100%;
}
[class*="pyramid"] .face-wrapper .face {
  transform: rotateZ(45deg) translateX(-35.35%) translateY(35.35%);
}
[class*="pyramid"] .bk {
  left: 100%;
}
[class*="pyramid"] .rt,
[class*="pyramid"] .lt {
  transform-origin: 50% 0;
}
[class*="cuboid"] .ft,
[class*="cuboid"] .bk {
  width: 100%;
  height: 100%;
}
[class*="cuboid"] .bk {
  left: 100%;
}
[class*="cuboid"] .rt {
  transform: rotateY(-90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  transform: rotateY(90deg) translateX(-50%);
}
[class*="cuboid"] .lt {
  left: 100%;
}
[class*="cuboid"] .bm {
  top: 100%;
}
/* .pyr-1 styles */
.pyr-1 {
  transform: translate3D(0em, -5.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 4em;
  height: 3em;
  margin: -1.5em 0 0 -2em;
}
.pyr-1 .face-wrapper {
  width: 4em;
  height: 2em;
}
.pyr-1 .face-wrapper .face {
  width: 4em;
  height: 4em;
}
.pyr-1 .ft {
  transform: scaleZ(1.8027756377319946) scaleY(1.8027756377319946)
    rotateX(33.690067525979785deg);
}
.pyr-1 .bk {
  transform: scaleZ(1.8027756377319946) scaleY(1.8027756377319946)
    rotateX(-33.690067525979785deg) rotateY(180deg);
}
.pyr-1 .rt {
  transform: scaleX(1.8027756377319946) scaleY(1.8027756377319946)
    rotateZ(33.690067525979785deg) rotateY(-90deg);
}
.pyr-1 .lt {
  transform: scaleX(1.8027756377319946) scaleY(1.8027756377319946)
    rotateZ(-33.690067525979785deg) rotateY(90deg);
}
.pyr-1 .bm {
  width: 4em;
  height: 4em;
}

/* .cub-1 styles */
.cub-1 {
  transform: translate3D(0em, -1.5em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(0deg);
  opacity: 1;
  width: 4em;
  height: 5em;
  margin: -2.5em 0 0 -2em;
}
.cub-1 .ft {
  transform: translateZ(2em);
}
.cub-1 .bk {
  transform: translateZ(-2em) rotateY(180deg);
}
.cub-1 .rt,
.cub-1 .lt {
  width: 4em;
  height: 5em;
}
.cub-1 .tp,
.cub-1 .bm {
  width: 4em;
  height: 4em;
}

/* .pyr-2 styles */
.pyr-2 {
  transform: translate3D(0em, 2.44em, 0em) rotateX(0deg) rotateY(0deg)
    rotateZ(180deg);
  opacity: 1;
  width: 4em;
  height: 3em;
  margin: -1.5em 0 0 -2em;
}
.pyr-2 .face-wrapper {
  width: 4em;
  height: 2em;
}
.pyr-2 .face-wrapper .face {
  width: 4em;
  height: 4em;
}
.pyr-2 .ft {
  transform: scaleZ(1.8027756377319946) scaleY(1.8027756377319946)
    rotateX(33.690067525979785deg);
}
.pyr-2 .bk {
  transform: scaleZ(1.8027756377319946) scaleY(1.8027756377319946)
    rotateX(-33.690067525979785deg) rotateY(180deg);
}
.pyr-2 .rt {
  transform: scaleX(1.8027756377319946) scaleY(1.8027756377319946)
    rotateZ(33.690067525979785deg) rotateY(-90deg);
}
.pyr-2 .lt {
  transform: scaleX(1.8027756377319946) scaleY(1.8027756377319946)
    rotateZ(-33.690067525979785deg) rotateY(90deg);
}
.pyr-2 .bm {
  width: 4em;
  height: 4em;
}

.photon-shader {
  background: rgb(66, 139, 247);
  background: linear-gradient(
    36deg,
    rgba(66, 139, 247, 0.8911939775910365) 0%,
    rgba(20, 61, 147, 0.6194852941176471) 72%,
    rgba(90, 35, 140, 0.8519782913165266) 100%
  );
  animation: luce 1s 0s ease-in-out alternate infinite;
  background-size: 200% 200%;
}

.red {
  transform: translateX(-200px);
}

.red .shape-holder {
  animation-delay: 0.5s;
  animation-duration: 3.5s;
}

.green .shape-holder {
  animation-delay: 0.25s;
  animation-duration: 4s;
}

.red .photon-shader {
  background: rgb(88, 7, 50);
  background: linear-gradient(
    40deg,
    rgba(88, 7, 50, 0.4990371148459384) 0%,
    rgba(150, 24, 24, 0.7315301120448179) 38%,
    rgba(230, 60, 94, 0.4906337535014006) 100%
  );
}

.green {
  transform: translateX(200px);
}

.green .photon-shader {
  background: rgb(6, 28, 7);
  background: linear-gradient(
    40deg,
    rgba(6, 28, 7, 1) 0%,
    rgba(63, 97, 64, 0.8) 65%,
    rgba(86, 139, 74, 1) 100%
  );
}

.ft .photon-shader {
  animation-delay: 0s;
}
.lt .photon-shader {
  animation-delay: 1s;
}
.bk .photon-shader {
  animation-delay: 2s;
}
.rt .photon-shader {
  animation-delay: 3s;
}

@keyframes luce {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}

.face:before {
  content: "";
  height: 100%;
  width: 100%;
  background: rgb(34, 193, 195);
  background: linear-gradient(
    315deg,
    rgba(34, 193, 195, 0) 0%,
    rgba(249, 253, 253, 0) 24%,
    rgba(253, 254, 254, 0.42) 32%,
    rgba(255, 255, 255, 0.42) 40%,
    rgba(255, 255, 255, 0.42) 49%,
    rgba(255, 252, 247, 0) 57%,
    rgba(253, 187, 45, 0) 100%
  );
  position: absolute;
  animation: shimmer 4s ease forwards infinite;
}

@keyframes shimmer {
  0%,
  70% {
    transform: translate3d(0%, -100%, 0);
  }
  100% {
    transform: translate3d(0%, 100%, 0);
  }
}
